@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');
/*
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
*/
body {
  margin: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #f5f6fa; /*pale-grey*/
  box-sizing: border-box;
}

.panel {
  width: 90%;
  height: auto;
  background-color: #fafafa;
  margin: 5% 5%;
  position: absolute;
  box-shadow: 20px 20px 50px 0px rgba(0,0,0,0.2);
}

.nav-bar {
  width: 100%;
  height: 95px;
  margin-bottom: 25px;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

.nav-logo {
  margin: 29px 100px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #0290ff; /*azure*/
  font-weight: bold;
}

.list-item {
  display: inline;
  margin-right: 50px;
  margin-left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #121212;
  opacity: 50%;
  letter-spacing: 1.9px;
}

.lesson-description {
  width: 80%;
  border: solid thin lightgrey;
  margin: 30px 10%;
  color: black;
}

.lesson-description-category {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #121212;
  opacity: 50%;
  margin-left: 27px;
}

.lesson-description-title {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: #121212;
  letter-spacing: -0.2px;
  font-weight: bold;
  margin-left: 27px;
  margin-top: -10px;
}

.lesson-description-author {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #4386bf;
  letter-spacing: 0;
  font-weight: lighter;
  margin-left: 27px;
  margin-top: -20px;
}

.lesson-description-links {
  margin-left: -40px;
}

.lesson-link {
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #4386bf;
  letter-spacing: 0;
  font-weight: lighter;
  margin-left: 27px;
}

.lesson-panel {
  width: 100%;
  margin: 30px 0px;
  display: block;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.list-item:hover {
  opacity: 100%;
}

.profile-button {
  width: 50px;
  justify-content: center;
  text-align: center;
}

.nav-buttons {
  position: absolute;
  margin-top: 23px;
}

.update-current {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  letter-spacing: 0;
  font-size: 13px;
  color: #121212;
  opacity: 50%;
}

.update-chapter {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 16px;
  color: #121212;
  letter-spacing: -0.4px;
  margin-top: -10px;
}

.update-button {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
  background-color: #0290ff;
  width: 184px;
  height: 33px;
}

.lesson-update {
  margin-right: 147px;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #888888;
  letter-spacing: -0.18;
  margin-left: 100px;
}

.form {
  display: flex;
  height: 100px;
  margin: 0px 10%;
}

.input-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  border: 1px solid lightgray;
  height: 42px;
  border-radius: 4px;
  width: 40%;
  padding-left: 10px;
}

.input-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  border: 1px solid lightgray;
  height: 45px;
  border-radius: 4px;
  padding: 5px 30px;
  margin-left: 24px;
  background-color: #fff;
}

.input-submit {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center;
    border-radius: 5px;
    background-color: #0290ff;
    padding: 5px 20px;
    margin-left: 24px;
    height: 45px;
}

.btn-remove:hover {
  background-color: red;
  color: #fff;
  border: solid red;
}

.line-div {
  color: #eee;
  opacity: 50%;
  margin-left: 100px;
  margin-right: 100px;
}

.nav-select {
  background-color: #fff;
  border: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
